<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
    <body>

        <h1>Admin Dashboard</h1>
        <div th:object="${user}">
            <p>Bienvenido: <span th:text="*{username}"></span></p>
        </div>


        <h2>Panel de control de Quiz</h2>


        <form th:action="@{/admin/add}" method="get">
            <button>Añadir una pregunta</button>
        </form>
        <form th:action="@{/edit/add}" method="get">
            <button>Editar una pregunta</button>
        </form>



        <!--TODO: hacer un div con un foreach de thymeleaf que reciba yrecorra todos los quiz para mostrarlos al admin-->
        <div id="quizList">

        </div>

        <form  th:action="@{/logout}"  method="get">
            <button>Logout</button>
        </form>



    </body>
</html>

