<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>Panel Admin</title>
</head>
<body>

<h1>Panel de Admin</h1>
<div th:object="${user}">
    <p>Bienvenido: <span th:text="*{username}"></span></p>
</div>


<h2>Panel de control de Quiz</h2>


<form th:action="@{/admin/add}" method="get">
    <button>Añadir una pregunta</button>
</form>


<!--TODO: hacer un div con un foreach de thymeleaf que reciba yrecorra todos los quiz para mostrarlos al admin-->
<div id="quizList" th:object="${question}">
    <table>

        <tr th:each="question : ${listaQuizzes}">
            <td th:text="${question.toString}">Pregunta</td>
            <!--DEBUGGING EL PATH VARIABLE-->
            <td>
                <form th:action="@{/admin/edit/{id}(id=${question.id})}" method="get">
                    <button>Editar  pregunta</button>
                </form>
            </td>
            <td>
                <form th:action="@{/admin/delete/{id}(id=${question.id})}" method="get">
                    <button>Borrar  pregunta</button>
                </form>
            </td>
        </tr>

    </table>
</div>

<form th:action="@{/logout}" method="post">
    <button>Logout</button>
</form>



</body>
</html>

