<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer Page</title>
</head>
<body>
<h1>Panel de usuario</h1>


<!--Lista de preguntas-->
<!--TODO: hacer un condicional para que no de error esta pagina y la de results en el caso de no haber respuestas-->
<div id="cuestionario" th:if="${!listaQuizzes.isEmpty()}">
    <p>Hola, <span th:text="${username}"></span>!, a continuación tienes tu cuestionario. Cada pregunta tiene UNA respuesta correcta y vale 1 punto. </p>
    <table>
        <tr th:each="question : ${listaQuizzes}">
            <td>Pregunta nº: <span th:text="${question.id}">Número</span></td>
            <td th:text="${question.questionText}">Enunciado</td>
            <td th:text="${question.questionText}">Respuesta A</td>
            <td th:text="${question.questionText}">Respuesta B</td>
            <td th:text="${question.questionText}">Respuesta C</td>
        </tr>
    </table>
    <p>Para aprobar necesitarás acertar al menos la mitad de las preguntas. ¡Suerte!</p>
    <div id="quizList" th:object="${respuestasUsuario}">
        <!--    Elección de respuesta-->

        <form th:action="@{/results}" method="post">
            <div th:each="pregunta : ${respuestasUsuario}" th:object="${pregunta}">
                <p>
                    <strong>Pregunta nº <span th:text="${pregunta.id}"></span>:</strong>
                    <span th:text="${pregunta.questionText}"></span>
                </p>

                <!-- Importante el th:field para el bindeo del objeto aunque tengamos nuestro foreach -->
                <select th:field="*{inputCorrectAnswer}">
                    <option value="0">A</option>
                    <option value="1">B</option>
                    <option value="2">C</option>
                </select>
            </div>
            <button type="submit">Enviar respuestas</button>
        </form>


    </div>
</div>
<div th:if="${listaQuizzes.isEmpty()}">
    <p>Todavía no hay ningún cuestionario creado. Es necesario que un administrador cree al menos una pregunta</p>
</div>



<!--Navegacion básica-->
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>
