<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer Page</title>
</head>
<body>
<h1>Panel de usuario</h1>


<!--Lista de preguntas-->
<!--TODO: hacer un condicional para que no de error esta pagina y la de results en el caso de no haber respuestas-->
<div id="cuestionario" th:if="${!listaQuizzes.isEmpty()}">
    <p>Hola, <span th:text="${username}"></span>!, a continuación tienes tu cuestionario. Cada pregunta tiene UNA respuesta correcta entre 3 opciones y vale 1 punto. </p>
    <p>Para aprobar necesitarás acertar al menos la mitad de las preguntas. ¡Suerte!</p>
    <div id="quizList">
        <!--    Elección de respuesta-->

        <form th:action="@{/results}" method="post">
            <div th:each="pregunta : ${listaQuizzes}" >
                    <p>
                        <strong>Pregunta nº <span th:text="${pregunta.id}"></span>:</strong>
                        <span th:text="${pregunta.questionText}"></span>
                    </p>
                    <p th:text="|A.- ${pregunta.options[0]}|">Respuesta A</p>
                    <p th:text="|B.- ${pregunta.options[1]}|">Respuesta B</p>
                    <p th:text="|C.- ${pregunta.options[2]}|">Respuesta C</p>

                    <!-- Importante el th:name para pasar al Map cada respuesta del usuario. th:field y bindeo con objetos no es la mejor opción tras testarlo
                    para visualizarlo: mandamos cada respuesta siendo el key el ID (definido con atributo "name" y con un prefijo) y el value (definido con el atributo HTML value).
                    En el controller capturamos esto con @RequestParam indicando que es un Map<String,String>.
                    OJO, que para recibir claves diferentes necesitamos algo así como "respuesta1=A". Para lograr eso necesitamos la concateniacion del literal "respuesta" y del ID, que es la variable
                    Esto lo conseguimos con la concatenacion teniendoo todo entre comillas simples o usando literal substitutions con el pipe. La razón esque en Thymeleaf no puedes anidar expresiones ${} dentro de ${}
                    Así que lo más sencillo es mandar la info en pares que sean facilmente trabajables gracias al prefijo respuesta_ y listo (no usarlo puede ser algo confuso, especialmente con los value de las option siendo números)
                    -->
                    <p>Elige tu respuesta para la pregunta <span th:text="${pregunta.id}"></span>:</p>
                    <select th:name="|respuesta_${pregunta.id}|">
                        <option value="0">A</option>
                        <option value="1">B</option>
                        <option value="2">C</option>
                    </select>


            </div>
            <button type="submit">Enviar respuestas</button>
        </form>


    </div>
</div>
<div th:if="${listaQuizzes.isEmpty()}">
    <p>Todavía no hay ningún cuestionario creado. Es necesario que un administrador cree al menos una pregunta</p>
</div>



<!--Navegacion básica-->
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
<form th:action="@{/home}" method="get">
    <button type="submit">Inicio</button>
</form>

</body>
</html>
